<!DOCTYPE html>
<html>
  <head>
      <title><%= title %> - <%= desc %></title>
      <meta name="keywords" content="<%= title %>">
      <meta name="description" content="<%= desc %>">
      <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel='stylesheet' href='/static/css/style.css' />
  </head>
  <body>
    <div id="main">
        <div id="background"></div>
        <div id="progress">
            <div class="played"></div>
            <div class="loaded"></div>
        </div>
        <ul id="controll">
            <li class="item home"><i class="fa fa-home" aria-hidden="true"></i></li>
            <li class="item source"><i class="fa fa-github" aria-hidden="true"></i></li>
            <li class="item next"><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
        </ul>
        <div id="topic">
            <div id="album">
                <div class="cover">
                    <img src="http://p3.music.126.net/LfqhRomeVUZYRhLzWEAHxQ==/944480488259856.jpg?param=360y360" alt="">
                </div>
                <div class="toggle"></div>
            </div>
            <div id="info">
                <div class="title">「标题」</div>
                <div class="article">歌手</div>
            </div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
