html, body {
    width: 100%;
    height: 100%;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#wapper {
    width: 100%;
    height: 100%;
}

#player {
    width: 100%;
    height: 70%;
    text-align: center;
    transform: translateY(15%);
}

#cover {
    height: 50%;
    margin: 0 auto;
    border: 0;
}

#cover img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 2;
}

#info h1 {
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: .5em;
}

#info p {
    font-size: 1em;
}

#lrc {
    width: 100%;
    height: 40%;
}

#action {
    margin: auto;
}
